main {
    width: 940px;
    margin: 0 auto;

}

form {
    margin: 40px 0;
}

form label, form p, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao { /*tags diferentes com a mesma configurações*/
    display:block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {

    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding:  15px 0;
    background: orange;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 1s all; /*Utilizamos a propriedade transition para prover uma transição visual de um elemento.*/
    cursor: pointer;
}

.enviar:hover {
    background: orangered;
    transform: scale(1.2) rotate(5deg); /*scale: amplia com porcentagem os elementos, para aumentar um elemento proporcionalmente*/
/*rotaciona em graus (deg) um elemento*/
}

table {
    margin: 20px 0 40px;

}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*
HIERARQUIA

Quão especifico ele vai ser para criar design mais complexos e n sofra alterações 

único style mais forte que id é CSS INLINE pq está no elemento do HTML

  id > class > tag

  id < tag + class 

*/

