/*      CORES NO CSS
1º Utiliza nomes 

blue, yellow, red

2º hexadecimal usado para marcar cores

            0123456789ABCDEF 

    RGB = RED GREEN BLACK: humanos exergam três expectos de cores
    # RED RED GREEN GREEN BLACK BLACK

    0 = Ausência de cor 
    F = Máximo de cor

    Preto (ausência de cor) 
    #00(RED)00(GREEN)00(BLACK)

    Branco
    FF(RED)FF(GREEN)FF(BLACK)

    Cinza
    #CCCCCC pq é mais próximo do branco

    Vermelho
    #FF(vermelhor esteja no máximo)0000 (Verde e Preto estejam ausentes)

    3º Dicionário RGB

        0 a 255 = variações de cores

    0 = Ausência de cor
    255 = Máximo de cor

    Estrutura:

    grb(red,green,black)

    Branco
    rgb(255,255,255)

    Azul
    rgb(0,0,255)


    
    
*/

/*MONTAR DA ORDEM HIERARQUICA*/

body {
    
}

/*
Parametros de uma Imagem no CSS: 

Largura (Width por ser usada em % ou pixels), Altura (Height = quando usa o Elements na page fica em azul) e Espaçamento Interno e Espaçamento Externo

border: consegue ver a altura e a largura do elemento, finalização do elemento.

padding (espaçamento interno): cima(top), baixo(bottom), esquerdo(left), direito(right), cria um quadro dentro do elemento, fazer ele se comportar no espaçamento interno que já tem.

margin(espaçamento externo): espaço fora do elemento, entre o elemento e a margem da page, uma modura fora do elemento.

*/

#banner {

    width: 100%; 

}

.principal {
    background: #cccccc;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
     /*background: #cccccc; não vai funcionar, vai corresponder a hierarquia p é filho de body */
}

#missão { /* forma de marcar o id, marca itens indidualmente */

    font-size: 20px
}

em strong { /* vai levar apenas os strong dentro do em*/
    color: #FF0000;
}

.itens { /* Classes marcar itens em cada um deles e podem ser repetidos e adc indivudalmente */

    font-style: italic;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

ul {
    display: inline-block; /*ocupa só o tamanho do conteúdo, mas permite mexer nas larguras e espaçamentos*/
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

/* block = 100% prox item na linha de baixo, inline = das imagens, n deixa alterar o espaçmento interno e externo e tem block e inline = define uma largura, fixam, mas o dev quem da a ela e deixa mexer no espaçmento interno, externo, altura e largura  */
.img-beneficios { 
    width: 50%;
}


